<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
    <header>
        <h1>콜렉터 북북</h1>
    </header>
    <center>
        <form id="search_form" action="/search">
            <input type="text" placeholder="keyword" id="search_input" name="q">
            <button>검색</button>
        </form>
    </center>
    <main>
        {{keyword}}

    </main>

</body>
</html>