<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="./static/style.css">
    <style>
        section {
            display: flex;
            flex-wrap: wrap;
            gap:15px;
        }
    </style>
</head>
<body>
    <header>
        <h1>콜렉터 북북</h1>
        <nav>
            <a href="/">검색</a>
            <a href="/favorites">즐겨찾기</a>
        </nav>
    </header>
    <center>
        <form id="search_form" action="/search">
            <input type="text" placeholder="keyword" id="search_input" name="q">
            <button>검색</button>
        </form>
    </center>
    <main>
        {% if books %}
        <center>
            <h3>{{books|length}}개 데이터 수집...</h3>
        </center>
        <section>
            {% for book in books %}
            <div class="book">
                <img src="{{book.image}}" width="150px" height="150px">
                <p>
                    {% if book.publisher|length > 10 %}
                    {{book.publisher[:10]}}...
                    {% else %} {{book.publisher}} {% endif %}
                </p>
                <p>
                    {{book.price}}원
                </p>
                <form action="/favorites" method="post" class="isFav">
                    <input type="hidden" name="keyword" value="{{book.keyword}}">
                    <input type="hidden" name="publisher" value="{{book.publisher}}">
                    <input type="hidden" name="price" value="{{book.price}}">
                    <input type="hidden" name="image" value="{{book.image}}">
                    <input type="hidden" name="next_url" value="{{next_url}}">

                    <button type="submit" class="heart_button" title="즐겨찾기">
                        {% if book.is_favorite %}
                            ♥
                        {% else %}
                            ♡
                        {% endif %}
                </form>
            </div>
            {% endfor %}
        </section>
        
        {% else %}
        <center>
            <h3>0개 데이터 수집...</h3>
        </center>
        
        {% endif %}

    </main>

</body>
</html>